<div [ngStyle]="{ 'background-color': 'floralwhite', 'padding': '5px', 'margin': '5px' }">

<p>
  Изменение пароля:
</p>

<form name="form" (ngSubmit)="changePassword()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password_old.valid }">
        <label for="password_old">Ваш старый пароль</label>
        <input type="password" class="form-control" name="password_old" [(ngModel)]="model.old_password" #password_old="ngModel" required />
        <div *ngIf="f.submitted && !password_old.valid" class="help-block">Необходимо ввести старый пароль</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password1.valid }">
        <label for="password1">Введите новый пароль</label>
        <input type="password" class="form-control" name="password1" [(ngModel)]="model.password1" #password1="ngModel" required />
        <div *ngIf="f.submitted && !password1.valid" class="help-block">Необходимо ввести новый пароль</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password2.valid }">
        <label for="password2">Повторите новый пароль</label>
        <input type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required />
        <div *ngIf="f.submitted && !password2.valid" class="help-block">Повторите новый пароль</div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Изменить пароль</button>
    </div>

</form>

</div>