
.choice_group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;

    .modules { 
        flex-basis: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: 2px dashed gray;
        border-radius: 6px;
        margin: 2px;

        div[app-module]{
            height: 40px;
            border: 1px solid gray;
            margin: 2px;
            border-radius: 6px;
            padding: 4px;  
            background: rgba(255, 255, 255, 0.8);
        }
    }
}