a{
    background: azure;
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    padding: 0px 0px;
    padding: 12px 9px;
    &:hover{
        background: antiquewhite;
    }
}
.profile-photo{   
    border: 0;
    width: 35px;
    margin-right: 5px;
    vertical-align: middle;
}