<div class="profile_menu" *ngIf="person" (click)="dropdown()"> 
    <img src="{{person.profile_photo}}" alt="Фото профиля" class="profile-photo">
    <span>{{person.first_name || 'Безымянный'}} {{person.last_name || 'человек'}}</span>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
</div>

<div class="dropdown" [hidden]="is_hidden">
    <div class="action" (click)="dropdown()" [routerLink]="['profile', 'edit']">
        <a>Редактрировать профиль</a>
    </div>

    <div class="action" (click)="dropdown()" [routerLink]="['profile', 'trajectories']">
        <a>Смотреть траектории</a>
    </div>
    <hr>
    <div class="action" [routerLink]="['/', 'logout']">
        <a>Выйти</a>
    </div>
</div>
