<ng-template ngFor let-semester [ngForOf]="data.eduLength"><div class="semester" [style.width] ="98/data.eduLength.length +'%'">
  <ng-template ngFor let-variant [ngForOf]="variants">
      <div [style.background-color] = "variantSelected(discipline, variants, variant, semester) ? '' : '' ">
        <div [style.background-color] = "selectDefault(discipline, variants, variant, semester) ? '' : '' " >
        <ng-template [ngIf]="variant.technology?.mobility === 100">
          <button>Онлайн курс: {{ variant.course?.title }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
        <ng-template [ngIf]="variant.technology?.mobility === 50 && semester%2==variant.parity">
            <button> parity {{ variant.parity }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
        <ng-template [ngIf]="variant.parity!=1 && variant.technology?.mobility === 50 && semester%variant.parity == 0">
            <button> parity {{ variant.parity }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
        <ng-template [ngIf]="variant.technology?.mobility === 50 && variant.parity == 3">
            <button> parity {{ variant.parity }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
        <ng-template [ngIf]="variant.technology?.mobility === 0 && discipline.default_semester[data.term] == semester && variant.semester?.term === data.term">
            <button> {{ variant.semester?.term }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
        </div>
      </div>
  </ng-template>
  <br />
    <ng-template ngFor let-variant [ngForOf]="variants">
        <ng-template [ngIf]="variant.technology?.mobility === 0  && discipline.default_semester[data.term] == semester && variant.semester?.term !== data.term">
            <button disabled>{{ variant.semester?.term }} <br /> m: {{ variant.mobility }}% s: {{ variant.sync }}% c: {{ variant.campus }}%</button>
        </ng-template>
    </ng-template>


</div></ng-template>