<ng-template ngFor let-semester [ngForOf]="data.eduLength">
    <div class="semester" [style.width]="90/data.eduLength.length +'%'">
        <ng-template ngFor let-variant [ngForOf]="variants">
            <div *ngIf="(trajectory.getVariantSelected(discipline.id).id === variant.id && trajectory.getVariantSelected(discipline.id).semester === semester) || discipline.open" class="variant" [ngClass]="{'active': (trajectory.getVariantSelected(discipline.id).id === variant.id && trajectory.getVariantSelected(discipline.id).semester === semester)}">
                <ng-template [ngIf]="variant.mobility === 100">
                    <button (click)="changeVariantSelected(variant, semester)"><img [src]="getIcons(variant.sync, variant.campus)" /> 
                        <span class="tooltiptext">Онлайн-курс: {{ variant.course?.title }}</span>
                        <!-- Онлайн курс: {{ variant.course?.title }} -->
                    </button>
                </ng-template>
                <ng-template [ngIf]="variant.mobility === 50 && semester%2==variant.parity">
                    <button (click)="changeVariantSelected(variant, semester)"><img [src]="getIcons(variant.sync, variant.campus)" /> 
                        <span class="tooltiptext">{{ variant.diagram.title }}</span>
                        <!-- parity {{ variant.parity }} -->
                    </button>
                </ng-template>
                <ng-template [ngIf]="variant.parity!=1 && variant.mobility === 50 && semester%variant.parity == 0">
                    <button (click)="changeVariantSelected(variant, semester)"><img [src]="getIcons(variant.sync, variant.campus)" /> 
                        <span class="tooltiptext">{{ variant.diagram.title }}</span>
                        <!-- parity {{ variant.parity }} -->
                    </button>
                </ng-template>
                <ng-template [ngIf]="variant.mobility === 50 && variant.parity == 3">
                    <button (click)="changeVariantSelected(variant, semester)"><img [src]="getIcons(variant.sync, variant.campus)" /> 
                        <span class="tooltiptext">{{ variant.diagram.title }}</span>
                        <!-- parity {{ variant.parity }} -->
                    </button>
                </ng-template>
                <ng-template [ngIf]="variant.mobility === 0 && discipline.default_semester[data.term] == semester && variant.semester?.term === data.term">
                    <button (click)="changeVariantSelected(variant, semester)"><img [src]="getIcons(variant.sync, variant.campus)" /> 
                        <span class="tooltiptext">{{ variant.diagram.title }}</span>
                        <!-- {{ variant.semester?.term }} -->
                    </button>
                </ng-template>
                <ng-template [ngIf]="variant.semester?.term === data.term && discipline.default_semester[data.term] !== semester || variant.parity==2&&semester%(variant.parity+1) == 0||variant.parity!==1&&semester%2==variant.parity-1">
                    <button style="width:40px; height:48px;">
                        <!-- {{ variant.semester?.term }} -->
                    </button>
                </ng-template>
            </div>

        </ng-template>

        <div *ngIf="show_variants" class="unabled">
            <ng-template ngFor let-variant [ngForOf]="variants_other" let-i="index">
                <ng-template [ngIf]="variant.mobility === 0  && discipline.default_semester[data.term] == semester && variant.semester?.term !== data.term">

                    <div class="show" *ngIf="i === 0" (click)="show_another_variants = !show_another_variants">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>

                    <div class="another_variant" [hidden]="!show_another_variants">
                        <button disabled>{{ variant.semester?.term }}</button>
                    </div>

                </ng-template>
            </ng-template>

        </div>
    </div>
</ng-template>
<!-- <button (click) = "toogle_view()">{{show_variants ? "Скрыть" : "Показать"}}<br />варианты</button> -->