<div class="title">

    <p>{{ !discipline.open ? "►": "▼"}} {{discipline.title}}</p>

    <ng-template [ngIf]="discipline.open">
    <p>{{ trajectory.getVariantSelected(discipline.id).diagram.title }}</p>
    <canvas baseChart width="300" height="120"
                [datasets]="getGraphic().datasets"
                [labels]="getGraphic().labels"
                [chartType]="pieChartType"
                [colors]="colorsOverride"
                [options]="{
                    responsive: true,
                    maintainAspectRatio: false,
                    animation : false,
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    },
                    legend: {
                        display: false,
                        labels: {
                            display: false
                        }
                    }
                    }">
                </canvas>
    </ng-template>
            
    <!-- <button (click)='toogle_view()'>Подробнее</button> -->
    <!-- <div class="info">
        <button (click)='getVariants()'>getVariants</button>
        
    </div> -->