<div class="widget__register">
<h2>Регистрация</h2>
<form name="form" (ngSubmit)="register()" #f="ngForm" validate>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
             <label for="email">Электронная почта</label>
             <input type="text" class="form-control" name="email" [(ngModel)]="registerModel.email" #email="ngModel" required />
             <div *ngIf="f.submitted && !email.valid" class="help-block">Необходимо ввести электронный адрес</div>
         </div>
        
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
             <label for="username">Имя пользователя (username): </label>
             <input type="text" class="form-control" name="username" [(ngModel)]="registerModel.username" #username="ngModel" required />      
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_name.valid }">
             <label for="first_name">Имя</label>
             <input type="text" class="form-control" name="first_name" [(ngModel)]="registerModel.first_name" #first_name="ngModel" required />
             <div *ngIf="f.submitted && !first_name.valid" class="help-block">Необходимо ввести Вашу фамилию</div>
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_name.valid }">
             <label for="last_name">Фамилия</label>
             <input type="text" class="form-control" name="last_name" [(ngModel)]="registerModel.last_name" #last_name="ngModel" required />
             <div *ngIf="f.submitted && !last_name.valid" class="help-block">Необходимо ввести Ваше имя</div>
         </div>

         <!--<div class="form-group">
             <label for="sex">Пол:</label>
             <select name="sex" [(ngModel)]="registerModel.sex" #sex="ngModel" required >
             <option value="U" [selected]="True">Не указывать</option>
             <option value="M">Мужской</option>
             <option value="F">Женский</option>
             </select>
         </div>-->

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password1.valid }">
             <label for="password1">Пароль</label>
             <input type="password" class="form-control" name="password1" [(ngModel)]="registerModel.password1" #password1="ngModel" required />
             <div *ngIf="f.submitted && !password1.valid" class="help-block">Необходимо ввести пароль</div>
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password2.valid }">
             <label for="password2">Повторите пароль:</label>
             <input type="password" class="form-control" name="password2" [(ngModel)]="registerModel.password2" #password2="ngModel" required />
             <div *ngIf="f.submitted && !password2.valid" class="help-block">Необходимо повторно ввести пароль</div>
         </div>

      <div class="form-group oneline" [ngClass]="{ 'has-error': f.submitted && !agreementOfDataProcessing.valid }">
          
        <input class="form-control" name="agreementOfDataProcessing" [(ngModel)]="registerModel.agreementOfDataProcessing" #agreementOfDataProcessing="ngModel" type="checkbox" required/>
        <label for="agreementOfDataProcessing">Я согласен с условиями предоставления сервиса.</label>
         <div *ngIf="f.submitted && !agreementOfDataProcessing.valid" class="help-block">Необходимо ваше согласие с условиями предоставления сервиса.</div>
      </div>

        <div class="form-group">
             <button [disabled]="f.invalid" class="btn btn-primary">Зарегистрироваться</button>
        </div>


    </form>
</div>