@import "../../variables";
.discipline {
    display: flex;
    flex-flow:  nowrap;
    padding: 0 1em 0 1em;
    border: 1px dashed gray;
    .title {
        font-size: 17px;
        font-weight: 300;
        width: 25%;
    }
    .calendar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 75%;
    }
}

 .hidden{
     visibility: hidden;
 }

 .body{
    width: 1140px;
    margin: auto;
 }
.discipline{
    .toggle-all{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.disciplines-step-menu{
    padding: 10px 0px;
    background: $white-color;
        border-bottom: 3px solid #cdcdcd;
    .discipline{
        .title{

        }
    }
}
.disciplines-small-menu{
    position: fixed;
    z-index: 100;
    width: 100%;
    .discipline{
    border: none;
    .calendar{
        div{
            border: 1px dashed gray;
            // border-right: 1px dashed gray;
        }
    }
}

}

.about-disciplines{
    text-align: center;
}
.widget__disciplines {}

.widget__variants_filter {
    
    // padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-content: space-around;
    justify-content: center;
    .row {
        margin: 0 1em 0 1em;
        display: flex;
        flex-flow: row nowrap;
        &:first-child {
            width: 60%;
        }
        .filter {
            margin: 0 1em 0 1em;
            button {
                min-width: 180px;
                padding: .5em;
                margin-bottom: 0.5em;
                border: none;
                background-color: lighten($primary-color, 30%);
                color: $white-color;
            }
            button.active {
                background-color: $primary-color;
            }
        }
        .diagram {
            display: flex;
            align-items: center;
        }
    }
}