
<h2> Дисциплины расчитаны на {{ data.term }} обучения, {{(data.presence=='o')? 'очная' : 'заочная'}} форма  с применением {{ (data.technology_type==='t')? 'традиционных' : 'дистанционных' }} технологий</h2>
      <div>
        <button [style.border] = "(data.term === '3,5 года') ? '2px solid green' : '1px solid gray'" (click)="data.funcLength([1,2,3,4,5,6,7], '3,5 года')">3,5 года</button>
        <button [style.border] = "(data.term === '4 года') ? '2px solid green' : '1px solid gray'" (click)="data.funcLength([1,2,3,4,5,6,7,8] , '4 года')">4 года</button>
        <button [style.border] = "(data.term === '5 лет') ? '2px solid green' : '1px solid gray'" (click)="data.funcLength([1,2,3,4,5,6,7,8,9,10], '5 лет')">5 лет</button>
        | SYNC:
        <button [style.border] = "(data.sync === 100) ? '2px solid green' : '1px solid gray'" (click)="data.setPresence('o', 100)">Очно (100%)</button>
        <button [style.border] = "(data.sync === 50) ? '2px solid green' : '1px solid gray'" (click)="data.setPresence('z', 50)">очно-заочно (50%)</button>
        <button [style.border] = "(data.sync === 0) ? '2px solid green' : '1px solid gray'" (click)="data.setPresence('z', 0)">Заочно (0%)</button>
        | CAMPUS:
        <button [style.border] = "(data.campus === 100) ? '2px solid green' : '1px solid gray'" (click)="data.setTechnologyType('t', 100)">Традиционно (100%)</button>
        <button [style.border] = "(data.campus === 50) ? '2px solid green' : '1px solid gray'" (click)="data.setTechnologyType('d', 50)">С частичным посящением (50%)</button>
        <button [style.border] = "(data.campus === 0) ? '2px solid green' : '1px solid gray'" (click)="data.setTechnologyType('d', 0)">Удаленно (0%)</button>
      </div>

      <!-- <div style='position:fixed; top: 1px; width: 400px;'>
        <h1>{{ trajectory?.modules?.length }} ({{ getDis()?.length }})</h1>
        <ol>
        <ng-template ngFor let-module [ngForOf]="trajectory?.modules">
          <li style="font-size:10pt">{{module.title}}</li>
        </ng-template>
        </ol>
      </div> -->
<ng-template ngFor let-discipline [ngForOf]="getDis()">
  
  <div class="discipline">
    <div class="title" app-discipline-information [discipline]="discipline"></div>
    <div class="calendar" app-discipline-calendar [discipline]="discipline"></div>
  </div>
</ng-template>