<div class="widget__variants_filter">
    <div class="row">
        <div class="filter term_filter">
            <button [ngClass]="{'active': data.term === '3,5 года' }" (click)="data.funcLength([1,2,3,4,5,6,7], '3,5 года')">3,5 года</button>
            <button [ngClass]="{'active': data.term === '4 года' }" (click)="data.funcLength([1,2,3,4,5,6,7,8] , '4 года')">4 года</button>
            <button [ngClass]="{'active': data.term === '5 лет' }" (click)="data.funcLength([1,2,3,4,5,6,7,8,9,10], '5 лет')">5 лет</button>
        </div>
        <div class="filter sync_filter">
            <button [ngClass]="{'active': data.sync === 100 }" (click)="data.setPresence('o', 100)">Очно</button>
            <button [ngClass]="{'active': data.sync === 50 }" (click)="data.setPresence('z', 50)">Очно-заочно</button>
            <button [ngClass]="{'active': data.sync === 0 }" (click)="data.setPresence('z', 0)">Заочно</button>
        </div>
        <div class="filter campus_filter">
            <button [ngClass]="{'active': data.campus === 100 }" (click)="data.setTechnologyType('t', 100)">Традиционно</button>
            <button [ngClass]="{'active': data.campus === 50 }" (click)="data.setTechnologyType('d', 50)">С частичным посещением</button>
            <button [ngClass]="{'active': data.campus === 0 }" (click)="data.setTechnologyType('d', 0)">Удаленно</button>
        </div>
    </div>
    <div class="row">
        <div class="diagram">
            <p>Место для диаграмм</p>
        </div>
    </div>
</div>
<p> Дисциплины расчитаны на {{ data.term }} обучения, {{(data.sync === 100)? 'очная' : 'заочная'}} форма с применением {{ (data.campus === 100 )? 'традиционных' : 'дистанционных' }} технологий</p>

<!-- <div style='position:fixed; top: 1px; width: 400px;'>
        <h1>{{ trajectory?.modules?.length }} ({{ getDis()?.length }})</h1>
        <ol>
        <ng-template ngFor let-module [ngForOf]="trajectory?.modules">
          <li style="font-size:10pt">{{module.title}}</li>
        </ng-template>
        </ol>
      </div> -->
<div class="widget__disciplines">
        <div class="discipline">
      <div class="title">
            <div> <button (click) = "toggleAll()"> Свернуть все </button></div>
        </div>
      <div class="calendar">
      <ng-template ngFor let-semester [ngForOf]="data.eduLength">
            <div [style.width]="90/data.eduLength.length +'%'"><p style='font-size: 14px; text-align: center;font-weight: 300;'>{{ semester }} семестр</p></div>
      </ng-template>
</div>
</div>

    <ng-template ngFor let-discipline [ngForOf]="getDis()">
        
        <div class="discipline">

            <!-- <div (click)='toogle_view(discipline)'> <p>{{ !discipline.open ? "►": "▼"}}</p></div> -->
            <div (click)='toogle_view(discipline)' class="title" app-discipline-information [discipline]="discipline"></div>
            <div (click)='(!discipline.open)? toogle_view(discipline): Null ' class="calendar" app-discipline-calendar [discipline]="discipline"></div>
        </div>
        
    </ng-template>
</div>