// $primary-color: darken(saturate(#4A96AD, 40%), 10%);
$primary-color: desaturate(#3b5aad, 10%);
$primary-color-darken: darken( $primary-color, 10% );
$accent-color: #e3256b;
$white-color: #FFF;
$black-color: #232b2b;
$competences_diagram: 300px;