@import "variables";


.menu{
    height: 55px;
    width: 100%;
    background-color: $primary-color;
    user-select: none;
    .content{
        display: flex;
        justify-content: space-between;
        max-width: 970px;
        min-width: 600px;
        margin: 0 auto;
        overflow: hidden;
        div {
            z-index: 1000;
        }
        .item {
            padding: 0px 1em;
            height: 55px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            &:hover{
                background: $primary-color-darken;
            }
            a {
                text-decoration: none;
                color: $white-color;
                font-weight: 300;
            }
        }
    }
}