.menu{
    height: 46px;
    // margin: 0 auto;
    padding: 0px;
    // text-align: center;
    a{
        background: azure;
        text-decoration: none;
        color: black;
        font-family: "Open Sans";
        padding: 0px 0px;
        // display: block;
        padding: 12px 9px;
    }
}