<div *ngIf="menu" class="menu">
  <div class="content">
    <div class="left">
      <ng-template ngFor let-container [ngForOf]="menu" let-i="index">
        <div class="item" [routerLink]="['/', container.slug]">
          <a>{{ container.title }}</a>
        </div>  
      </ng-template>
    </div>
    <div class="right">
      <ng-template [ngIf]="isLogged" [ngIfElse]='elseBlock'>
        <div>
          <app-menu-profile-block></app-menu-profile-block>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="item right" [routerLink]="['/', 'login']">
          <a><i class="fa fa-sign-in" aria-hidden="true"></i> Вход</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<router-outlet></router-outlet>