
<div *ngIf="menu">
  <ng-template ngFor let-container [ngForOf]="menu[0]?.containers" let-i="index" [ngForTrackBy]="trackByFn">
    <a href="" [routerLink]="['/', container.slug]">{{ container.title }}</a>
  </ng-template>
  <router-outlet></router-outlet> 
</div>

<ng-template ngFor let-container [ngForOf]="containers" let-i="index" [ngForTrackBy]="trackByFn">
  <div *ngIf="container.type=='footer'">
    <footer footer>
      <p>Телефон: {{ container.components[0].json.tel }}</p>
    </footer>
  </div>
</ng-template>

