.menu{
    height: 55px;
    width: 100%;
    background-color: #4A96AD;
    user-select: none;
    z-index: 1000;
    .content{
        display: flex;
        justify-content: space-between;
        max-width: 970px;
        min-width: 600px;
        margin: 0 auto;
        overflow: hidden;
        .item {
            padding: 0px 1em;
            height: 55px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            &:hover{
                background: #295a69;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: 300;
            }
        }
    }
}