<div *ngIf="menu" class="menu">
  <div class="content">
    <div class="left">
      <ng-template ngFor let-container [ngForOf]="menu" let-i="index">
        <div class="item">
          <a href="" [routerLink]="['/', container.slug]">{{ container.title }}</a>
        </div>  
      </ng-template>
    </div>
    <div class="right">
      <ng-template [ngIf]="isLogged" [ngIfElse]='elseBlock'>
        <div class="dropdown">
          <app-menu-profile-block></app-menu-profile-block>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="item right">
          <a [routerLink]="['/', 'login']">Вход</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<router-outlet></router-outlet>