<div class="header">
	<h1>
	{{ program?.title }}
	</h1>
</div>
	<div *ngIf="program?.targets" id="targets">
		<ul class="target_choices">
			<ng-template ngFor let-target [ngForOf]="program?.targets">
				<li (click)="selectTarget(target?.id)" [class.selected]="selected == target?.id">{{ target?.title }}</li>
			</ng-template>
		</ul>
	</div>
	<div id="competences">
		<ul>
			<ng-template ngFor let-competence [ngForOf]="program?.competences">
				<li>{{ competence?.title }} <em>Значение</em> %</li>
			</ng-template>
		</ul>
	</div>
	<div *ngIf="build">
		<h2> {{ program.targets_by_id[selected]?.title }}</h2>
		<ng-template ngFor let-choiceGroup [ngForOf]="program.targets_by_id[selected]?.choice_groups" >
		<div class="build">
			<h3>{{ program.choice_groups_by_id[choiceGroup].title }}</h3>
			
				<div class="left">
					<ng-template ngFor let-module [ngForOf]="program.choice_groups_by_id[choiceGroup].get_program_modules">
					<p *ngIf = "modules.default.indexOf(module)!=-1">{{ program.modules_by_id[module].title  }}</p>
					</ng-template>
				</div>
				<div class="right">
					<ng-template ngFor let-module [ngForOf]="program.choice_groups_by_id[choiceGroup].get_program_modules">
					<p *ngIf = "modules.variative.indexOf(module)!=-1">{{ program.modules_by_id[module].title }}</p>
					</ng-template>
				</div>
				
		</div>
		</ng-template>
	</div>
	<!--<div *ngIf="program?.targets">
		<h2> {{ program?.targets_by_id[trajectory.target_id]?.title }}</h2>
		<ul>
		<ng-template ngFor let-choiceGroup [ngForOf]="program?.targets_by_id[trajectory?.target_id]?.choice_groups" >
			<h3>Группа: {{ program?.choice_groups_by_id[choiceGroup]?.title }} ___ из {{ program?.choice_groups_by_id[choiceGroup]?.labor }} з.e</h3>
			<ng-template ngFor let-module [ngForOf]="program?.choice_groups_by_id[choiceGroup]?.get_program_modules">
				<li class="module_title"><span class="is_selected" *ngIf="program?.modules_by_id[module]?.targets_positions_indexed[trajectory.target_id] == 1">[x]</span>
				<span *ngIf="program?.modules_by_id[module]?.targets_positions_indexed[trajectory.target_id] == 2">[ ]</span>
					{{ program?.modules_by_id[module]?.title }} - <span class="labor_display">{{ program?.modules_by_id[module]?.get_labor }} з.е.</span></li>
					<div class="disciplines">
						<ng-template ngFor let-discipline [ngForOf]="program?.modules_by_id[module]?.disciplines" >
							<p> - <em discipline [discipline]="discipline"></em><span class="labor_display">{{discipline.labor}} з.е.</span></p>
						</ng-template>
					</div>
			</ng-template>
		</ng-template>
		</ul>
	</div>-->

