@import "../../variables";

.target_choices {
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 1em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    li {
        margin: 4px;
        height: 5em;
        padding: 18px 10px;
        display: inline;
        background-color: lighten($primary-color, 20%);
        color: $white-color;
        cursor: pointer;
        text-align: center;
        float: left;
        width: 200px;
        &.selected {
            background-color: $primary-color;
            color: $white-color;
        }
        &:hover {
            background-color: lighten($primary-color, 20%);
            color: $white-color;
        }
    }
}

:host { 
    display: flex;
    flex-flow: column;
    justify-content: center;
 }

 .header{
    background: #FFF;
    width: 100%;
    border-bottom: 3px solid #cdcdcd;
 }


 .small-menu{
     position: fixed;
     right: 0;
    left: 0;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
    // min-height: 10em;
    z-index: 1000;
    width: 100%;
     .header{
         display:flex;
         justify-content: center;
         padding: 6px;
         background: rgba(255, 255, 255, 0.95);
        .widget__competences_diagram{
            height: auto;
            margin: 0;
            justify-content: start;
            align-items: center;
            width: 810px;
    margin-left: 100px;
            .comp{
                .competence_diagram_col{
                    padding: 14px;
                    .title{
                        font-size: 12px;
                    }
                }
            }
        }

        .current-target{
            user-select: none;
            align-self: center;
            margin: 0px 24px;
            height: 5em;
            padding: 18px 10px;
            display: inline;
            background-color: #8597c9;
            color: #FFF;
            text-align: center;
            float: left;
            width: 200px;
        }
     }

 }
 .hidden{
     visibility: hidden;
 }

 .body{
    width: 1140px;
    margin: auto;
 }

.steps-block-container{
    background: #8598cc;
    .steps-block{
        z-index: 1000;
        width: 1140px;
        margin: auto;
        
        .step-item{
            display: inline-block;
            padding: 15px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            margin: 0px -2px; // убираем непонятные 2рх между итемами
            a{
                user-select: none;
                text-decoration: none;
                color: #FFF;
                font-weight: 300;
            }
            &:hover{
            background: #687fbe;
        }
        }
        .step-item.active{
            background: #556ba5;
        }
        .right{
            float: right;
        }
        .steps-header{
            margin-right: 40px;
            font-size: 1.2em;
            display: inline-block;
            color: #FFF;
            padding: 10px;
            text-overflow: ellipsis;
            width: 600px;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: middle;
        }
    }
}

 .widget__competences_diagram {
     display: flex;
     flex-flow: column;
     justify-content: space-around;
     align-items: flex-start;
     width: 1140px;
     height: $competences_diagram;
     margin: 0 auto;
     padding: 14px 0px;
     div {
        width: 100%;
     }
 }