/* You can add global styles to this file, and also import other style files */
body[app-root]{
    font-family: sans-serif;
}
div[element-open-program]{
    ul {
        padding: 1px;
        margin: 1px;
        li{
            list-style-type:none;
            padding: 1em;
            margin: 1px;
            &:hover{
                background: rgba(74,150,173, 0.1);
                font-weight: 600;
            }
            a {
                background-color: #4A96AD;
                padding: 5px;
                border-radius: 2px;
                color: white;
                text-decoration: none;
            }
        }
    }
 }
 div[constructor]{
    table{
        thead{
            
            background: #efefef;
            tr {
                td {
                    select{
                        width: 1.4em;
                        margin-left: 20px
                    }
                }
            }
        }
        tbody{

        }

        td{
            padding: 6px;
            border:1px solid #efefef;
            & select{
                width: 200px;
            }
        &[duble=true]{
            background: #e6e6e6;
        }

        }
    }
                
    input[type=radio]{
        &+label{
            cursor: pointer;
            opacity: 0.2;
        }
        &:checked+label{
            opacity: 1;
        }
    }
    
 }

// GOWENCODE

    // #7D1935
    // #4A96AD
    // #F5F3EE
    // #FFFFFF

 body {
    background-color: #F5F3EE;
    color:#4D4A42;
}
#header {
    color: white;
    background-color: #7D1935;
    padding: 1em;
}