/* You can add global styles to this file, and also import other style files */
body[app-root]{
    font-family: sans-serif;
}
div[element-open-program]{
    ul {
        padding: 1px;
        margin: 1px;
        li{
            list-style-type:none;
            padding: 10px;
            margin: 1px;
            &:hover{
                background: #efefef;
            }
        }
    }
 }
 div[constructor]{
    table{
        thead{
            background: #efefef;
        }
        tbody{

        }

        td{
            padding: 6px;
            border:1px solid #efefef;
        }
    }
                
    input[type=radio]{
        &+label{
            cursor: pointer;
            opacity: 0.1;
        }
        &:checked+label{
            opacity: 1;
        }
    }
    
 }