/* You can add global styles to this file, and also import other style files */
body[app-root]{
    font-family: sans-serif;
}
div[element-open-program]{
    ul {
        padding: 1px;
        margin: 1px;
        li{
            list-style-type:none;
            padding: 1em;
            margin: 1px;
            &:hover{
                background: rgba(74,150,173, 0.1);
                font-weight: 600;
            }
            a {
                background-color: #4A96AD;
                padding: 5px;
                border-radius: 2px;
                color: white;
                text-decoration: none;
            }
        }
    }
 }
 div[constructor]{
    table{
        thead{
            
            background:#4A96AD;
            color: white;
            font-weight: 600;
            tr {
                td {
                    select{
                        width: 1.4em;
                        margin-left: 20px
                    }
                }
            }
        }
        tbody{
            tr{
                vertical-align: text-top;
            }
            td{
                text-align: inherit;

                p{
                    padding-left: 6px;
                }
            }

        }

        td{
            padding: 3px;
            border:1px solid rgba(74,150,173, 0.1);
            text-align: center;
            & select{
                width: 200px;
            }
        &[duble=true]{
            background: #e6e6e6;
        }

        }
    }
                
    input[type=radio]{
        &+label{
            cursor: pointer;
            opacity: 0.2;
        }
        &:checked+label{
            opacity: 1;
        }
    }
    
 }

figure{
    display: inline-block;
    width: 300px;
    margin: 20px;
    vertical-align: top;
    figcaption{
        text-align: center;
    }
}


// GOWENCODE

    // #7D1935
    // #4A96AD
    // #F5F3EE
    // #FFFFFF

 body {
    background: url(assets/bg.png) repeat #F5F3EE;
    // background-color: #F5F3EE;
    color:#4D4A42;
}
#header {
    color: white;
    background-color: #7D1935;
    padding: 1em;
}
#actions {
    text-align: initial;
    a {
                background-color: #4A96AD;
                padding: 3px;
                border-radius: 2px;
                color: white;
                text-decoration: none;
                cursor: pointer;
                font-size:80%;
            }
}

#subscription {
    font-size:80%;
}
#discipline-title {
    font-weight: 600;
}

.variant-title {
    font-size:80%;
    color:white;
}
.variant {
    background-color: rgba(74,150,173, 0.2)
}
.variants-table{}

diagram {
    height:200px;
    width: 200px;
}
#competences_diagram {
    tr {
        &:hover {
            background-color: rgba(74,150,173, 0.2);
            }
    }
    td{
        vertical-align: middle;
        &:first-child {
            font-weight: 600;
            }
        }
}