<div constructor>
<table>
  <thead>
    <tr>
    <td><p>Модуль программы</p></td>
    <td><p>Группа выбора 
        <select  (change)="sortChoiceGroups($event.target.value)">
            <option [value] = "'all'">Все группы выбора</option>
          <ng-template ngFor let-choice [ngForOf]="choiceGroups" let-i="index">
            <option [value] = "choice.id">{{ choice.title }}</option>
        </ng-template>
        </select>
    </p>
         </td>
    <ng-template ngFor let-target [ngForOf]="targets">
        <td >{{target.title}}</td>
    </ng-template>
    <td><p>Компетенции</p></td>
    </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-module [ngForOf]="modules">
    <tr [hidden] = "sort(module.choice_group)">
      <td [attr.duble]="moduleTitles[module.title]"><p>{{module.title}}</p></td>
      <td>
        <select  (change)="postChoiceGroups($event.target.value)">
          <option [value] ="[module.id, null]">None</option>
          <ng-template ngFor let-choice [ngForOf]="choiceGroups" let-i="index">
            <option [selected]="choice.get_program_modules.indexOf(module.id)!=-1" [value] = "[module.id,choice.id]">{{ choice.title }}</option>
          </ng-template>
        </select>
        </td>
      <ng-template ngFor let-target [ngForOf]="targets" let-i="index">
      <td>
        
          <input [name]="module.id+target.id" [id]="module.id+target.id+1" type="radio" [checked]="module.targets_positions[i] == 1" [value] = "[module.id,target.id,1]" [hidden]="true" (change)="callType($event.target.value)">
          <label [for]="module.id+target.id+1" >
            <svg  width="28" viewBox="0 0 50 50">
              <rect x="1" y="1" width="48" height="48" rx="5" ry="5"/>
              <rect x="4" y="4" width="42" height="42" rx="3" ry="3" fill="#39b54a"/>
              <path d="M8.69,19.34a60.75,60.75,0,0,1,5.66,3.81c.92.65,1.78,1.37,2.65,2.09s1.75,1.44,2.57,2.23a42.61,42.61,0,0,1,4.58,5l.16.2a7.22,7.22,0,0,1,.73-2.1,70.65,70.65,0,0,1,4.47-8c.82-1.29,1.71-2.54,2.62-3.77s1.92-2.4,2.91-3.57A44.21,44.21,0,0,1,41.8,8.85l.06,0a.24.24,0,0,1,.34.34c-1.68,2.43-3.26,4.93-4.75,7.48s-2.93,5.13-4.26,7.77-2.57,5.32-3.72,8-2.21,5.48-3.24,8.25l0,.06a1.48,1.48,0,0,1-2.53.15h0l0-.07a48.33,48.33,0,0,0-6.94-11c-1.36-1.71-2.79-3.37-4.19-5.06s-2.81-3.38-4.18-5.09a.24.24,0,0,1,.31-.36Z" fill="#000" stroke="#000" stroke-miterlimit="10" stroke-width="1.5"/>
            </svg>
          </label>
          <input [name]="module.id+target.id" [id]="module.id+target.id+2" type="radio" [checked]="module.targets_positions[i] == 2" [value] = "[module.id,target.id,2]" [hidden]="true" (change)="callType($event.target.value)">
          <label [for]="module.id+target.id+2">
            <svg  width="28"  viewBox="0 0 50 50">
              <rect x="1" y="1" width="48" height="48" rx="5" ry="5"/>
              <rect x="4" y="4" width="42" height="42" rx="3" ry="3" fill="#FCEE21"/>
              <path d="M22.8,31.45a5.34,5.34,0,0,1-.86-3.65,6,6,0,0,1,2.11-3.36,20.47,20.47,0,0,1,2.86-2c.94-.57,1.84-1.11,2.61-1.66A9.27,9.27,0,0,0,31.43,19a4.32,4.32,0,0,0,.87-4.1A4.84,4.84,0,0,0,31.11,13,7.19,7.19,0,0,0,29,11.65a11,11,0,0,0-5.42-.7,7.61,7.61,0,0,0-4.8,2.58,4.09,4.09,0,0,0-.89,2.59A5.43,5.43,0,0,0,19,19a5.18,5.18,0,0,1-2-2.71,5.06,5.06,0,0,1,.34-3.65A9.05,9.05,0,0,1,23,8.1a14.4,14.4,0,0,1,3.64-.56,11.78,11.78,0,0,1,3.75.52A10,10,0,0,1,33.83,10a8.29,8.29,0,0,1,2.39,3.49,7.55,7.55,0,0,1,.21,4.35,8.61,8.61,0,0,1-2,3.66,12,12,0,0,1-3,2.38,29.15,29.15,0,0,1-3.08,1.47c-1.93.85-3.89,1.59-4.5,3a2.92,2.92,0,0,0-.26,1.22A7.12,7.12,0,0,0,23.85,31C24.1,32,23.41,32.45,22.8,31.45Z" fill="#000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <circle cx="25" cy="39" r="3" fill="#000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
            </svg>
          </label>
          <input [name]="module.id+target.id" [id]="module.id+target.id+0" type="radio" [checked]="module.targets_positions[i] == 0" [value] = "[module.id,target.id,0]" [hidden]="true" (change)="callType($event.target.value)">
          <label [for]="module.id+target.id+0">
            <svg width="28"  viewBox="0 0 50 50">
              <rect x="1" y="1" width="48" height="48" rx="5" ry="5"/>
              <rect x="4" y="4" width="42" height="42" rx="3" ry="3" fill="#e6e6e6"/>
              <path d="M35.31,18.59A32.06,32.06,0,0,0,38.72,14a18.76,18.76,0,0,0,2.17-5.29.24.24,0,0,0-.41-.21l-.08.09a35.12,35.12,0,0,1-4,4c-1.34,1.16-2.7,2.25-4.09,3.32-2.62,2-5.31,4.07-8,6.29-.93-.82-1.87-1.61-2.8-2.42-1.8-1.54-3.57-3.1-5.79-5.34l-.12-.12a.22.22,0,0,0-.38.21l.42,2c.2.64.42,1.28.63,1.92s.58,1.22.87,1.83.69,1.16,1,1.74a30,30,0,0,0,2.55,3.33,56.18,56.18,0,0,0-5,5.18,32.38,32.38,0,0,0-3.44,4.95,16.13,16.13,0,0,0-2,5.89v.11a.24.24,0,0,0,.44.15,25.93,25.93,0,0,1,3.56-4.27c1.3-1.33,2.69-2.58,4.12-3.8,1.89-1.62,3.84-3.19,5.78-4.76,1.74,1.56,3.53,3.05,5.3,4.54,1,.85,2,1.71,3,2.59s1.94,1.78,2.84,2.73a.23.23,0,0,0,.4-.19l0-.13a18.15,18.15,0,0,0-3.62-8A41.2,41.2,0,0,0,28,25.63,74.83,74.83,0,0,0,35.31,18.59Z" fill="#222" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
            </svg>
          </label>
        
       </td>
      </ng-template>
      <td>
        <select competence (change)="postCompetence($event.target.value)">
            <option [value] ="[module.id, null]">None</option>
          <ng-template ngFor let-choice [ngForOf]="choiceCompetences" let-i="index">
            <option [selected]="module.competence==choice.id" [value] = "[module.id,choice.id]">{{ choice.title }}</option>
          </ng-template>
        </select>
        </td>
    </tr> 
  </ng-template>
  </tbody>
</table>
</div>