<div constructor>
<div id="header">
  <h1>{{program?.title}}</h1>
  <h3>{{program?.training_direction}}</h3>
  <h3>{{program?.get_level_display}}</h3>
</div>
<table>
  <thead>
    <tr>
    <td><p>Дисциплина программы</p></td>
    <td><p>3,5 года</p></td>
    <td><p>4 года</p></td>
    <td><p>5 лет</p></td>
    <td><p>Вриант реализации дисциплины</p></td>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-discipline [ngForOf]="disciplines">
    <tr> 
    <td><p>{{discipline?.title}}<br /><em>{{discipline?.module}}</em></p></td>
    <td><select (change)="callType({program_id:program?.id,discipline_id:discipline?.id,term_title:'3,5 года',semester:$event.target.value})">
          <option [disabled]="true" [selected]="discipline.terms['3,5 года']==0">Семестр</option>
          <option [selected]="discipline.terms['3,5 года']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==7" [value] = "7">7 семестр</option>
</select></td>
    <td><select (change)="callType({program_id:program?.id,discipline_id:discipline?.id,term_title:'4 года',semester:$event.target.value})">
          <option [disabled]="true" [selected]="discipline.terms['4 года']==0">Семестр</option>
          <option [selected]="discipline.terms['4 года']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['4 года']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['4 года']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['4 года']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['4 года']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['4 года']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['4 года']==7" [value] = "7">7 семестр</option>
          <option [selected]="discipline.terms['4 года']==8" [value] = "8">8 семестр</option>
</select></td>
    <td><select (change)="callType({program_id:program?.id,discipline_id:discipline?.id,term_title:'5 лет',semester:$event.target.value})">
          <option [disabled]="true" [selected]="discipline.terms['5 лет']==0">Семестр</option>
          <option [selected]="discipline.terms['5 лет']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['5 лет']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['5 лет']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['5 лет']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['5 лет']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['5 лет']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['5 лет']==7" [value] = "7">7 семестр</option>
          <option [selected]="discipline.terms['5 лет']==8" [value] = "8">8 семестр</option>
          <option [selected]="discipline.terms['5 лет']==9" [value] = "9">9 семестр</option>
          <option [selected]="discipline.terms['5 лет']==10" [value] = "10">10 семестр</option>
</select></td>
  
    <td>
      <p>Добавить:<br />
      <a (click)="addVariant({program_id:program.id,discipline_id:discipline?.id,course_id:52})">Курс</a>
      <a (click)="addVariant({program_id:program.id,discipline_id:discipline?.id,parity_id:3})">По четности</a>
      <a (click)="addVariant({program_id:program.id,discipline_id:discipline?.id,term_title:'4 года'})">Семестр</a><p>
      <ng-template ngFor let-variant [ngForOf]="variants[discipline?.id] | async">
      <tr>
        <ng-template [ngIf]="variant.course">
        <td>Курс</td>
        <td>
          <select (change)="changeVariant({variant_id:variant.id,course_id:$event.target.value})">
            <option  [disabled]="true" >Выбирите</option>
            <ng-template ngFor let-course [ngForOf]="courses">
                  <option [selected]="course.title==variant.course.title" [value]="course.id">{{course.title}}</option>
            </ng-template>
        </select>
        </td>
        </ng-template>
        <ng-template [ngIf]="variant.parity">
        <td >По четности</td>
        <td>
          <select (change)="changeVariant({variant_id:variant.id,parity:$event.target.value})">
            <option  [value]="1" [selected]="variant?.parity==1">Осенний семестр</option>
            <option  [value]="2" [selected]="variant?.parity==2">Весенний семестр</option>
            <option  [value]="3" [selected]="variant?.parity==3">Любой семестр</option>
          </select>
        </td>
        </ng-template>
        <ng-template [ngIf]="variant.semester">
        <td >Семестр</td>
        <td>
          <select (change)="changeVariant({variant_id:variant.id,semester:$event.target.value})">
            <option  [value]="'3,5 года'" [selected]="variant?.semester.term=='3,5 года'">3,5 года</option>
            <option  [value]="'4 года'" [selected]="variant?.semester.term=='4 года'">4 года</option>
            <option  [value]="'5 лет'" [selected]="variant?.semester.term=='5 лет'">5 лет</option>
          </select>
        </td>
        </ng-template>
                <td>
          <select (change)="changeVariant({variant_id:variant.id,technology_id:$event.target.value})">
              <option  [disabled]="true" >Выбирите</option>
              <ng-template ngFor let-technology  [ngForOf]="technologies">
                    <option [selected]="technology.id==variant.technology?.id" [value]="technology.id">{{technology.title}}</option>
              </ng-template>
          </select>
        </td>
        <td>          
          <select (change)="changeVariant({variant_id:variant.id,diagram_id:$event.target.value})">
            <option  [disabled]="true" >Выбирите</option>
            <ng-template ngFor let-diagram [ngForOf]="diagrams">
                  <option [selected]="diagram.id==variant.diagram?.id" [value]="diagram.id">{{diagram.title}}</option>
            </ng-template>
        </select>
        </td>
        <td (click)="removeVariant({variant_id:variant.id})">
          [x]
        </td>
      </tr>
      </ng-template>
    </td>
    </tr>
    </ng-template>
  </tbody>
</table>
</div>



