<div constructor>
    <div id="header">
        <h1>{{program?.title}}</h1>
        <h3>{{program?.training_direction}}</h3>
    </div>
    <table>
        <thead>
            <tr>
                <td>
                    <p>Дисциплина программы</p>
                </td>
                <td>
                    <p>3,5 года</p>
                </td>
                <td>
                    <p>4 года</p>
                </td>
                <td>
                    <p>5 лет</p>
                </td>
                <td>
                    <p>Вариант реализации дисциплины</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-discipline [ngForOf]="disciplines">
                <tr>
                    <td>
                        <p><span id="discipline-title">{{discipline?.title}}</span><br /><span id="subscription">{{discipline?.module}} <strong>{{ discipline?.module_uni_number }}</strong></span></p>
                    </td>
                    <td [style.background-color]="discipline.terms['3,5 года'] ? 'rgba(0, 128, 0, 0.21)' : 'rgba(128, 0, 0, 0.21)'"><select (change)="callType(discipline.id, '3,5 года', $event.target.value)">
          <option [disabled]="true" [selected]="discipline.terms['3,5 года']==0">Семестр</option>
          <option [selected]="discipline.terms['3,5 года']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['3,5 года']==7" [value] = "7">7 семестр</option>
</select></td>
                    <td [style.background-color]="discipline.terms['4 года'] ? 'rgba(0, 128, 0, 0.21)' : 'rgba(128, 0, 0, 0.21)'"><select (change)="callType(discipline.id, '4 года', $event.target.value)">
          <option [disabled]="true" [selected]="discipline.terms['4 года']==0">Семестр</option>
          <option [selected]="discipline.terms['4 года']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['4 года']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['4 года']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['4 года']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['4 года']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['4 года']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['4 года']==7" [value] = "7">7 семестр</option>
          <option [selected]="discipline.terms['4 года']==8" [value] = "8">8 семестр</option>
</select></td>
                    <td [style.background-color]="discipline.terms['5 лет'] ? 'rgba(0, 128, 0, 0.21)' : 'rgba(128, 0, 0, 0.21)'"><select (change)="callType(discipline.id, '5 лет', $event.target.value)">
          <option [disabled]="true" [selected]="discipline.terms['5 лет']==0">Семестр</option>
          <option [selected]="discipline.terms['5 лет']==1" [value] = "1">1 семестр</option>
          <option [selected]="discipline.terms['5 лет']==2" [value] = "2">2 семестр</option>
          <option [selected]="discipline.terms['5 лет']==3" [value] = "3">3 семестр</option>
          <option [selected]="discipline.terms['5 лет']==4" [value] = "4">4 семестр</option>
          <option [selected]="discipline.terms['5 лет']==5" [value] = "5">5 семестр</option>
          <option [selected]="discipline.terms['5 лет']==6" [value] = "6">6 семестр</option>
          <option [selected]="discipline.terms['5 лет']==7" [value] = "7">7 семестр</option>
          <option [selected]="discipline.terms['5 лет']==8" [value] = "8">8 семестр</option>
          <option [selected]="discipline.terms['5 лет']==9" [value] = "9">9 семестр</option>
          <option [selected]="discipline.terms['5 лет']==10" [value] = "10">10 семестр</option>
</select></td>

    <td *ngIf="program?.id && discipline && courses && diagrams && technologies && variants"  class="variants-table" app-variants [program_id]="program?.id" [discipline]="discipline" [courses]="courses" [diagrams]="diagrams" [technologies]="technologies" [variants]="variants[discipline.id]">

    </td>

    </tr>
    </ng-template>
  </tbody>
</table>
</div>
